@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 15, 15, 15;
        --color-secondary: #1F1F1F;

        --white: #fff;
        --slider-size: 26px;
        --transition-duration: 0.6s;
    }
}

@layer utilities {
    .scroll-snap-y {
        scroll-snap-type: y mandatory;
    }

    .scroll-snap-start {
        scroll-snap-align: start;
    }
}

.nav {
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ) {
    --img1: scale(0);
    --img2: scale(1);
    --clip: inset(0 0 0 0);
}

.nav__container {
    grid-template-areas: "logo img";
}

.nav__logo {
    grid-area: logo;
}

.nav__menu {
    grid-area: img;
    z-index: 10;
    transition: all var(--transition-duration);
    transform: var(--img1);
}

.nav__menu--second {
    transform: var(--img2);
}

.dropdown {
    @apply px-10 lg:hidden;
    clip-path: var(--clip, inset(0 0 0 100%));
    transition: clip-path var(--transition-duration);
}

.toggle__slider:before {

    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: var(--white);

    height: var(--slider-size);
    width: var(--slider-size);

    left: 4px;
    bottom: 4px;

    transition: var(--transition-duration);
}

input:checked + .toggle__slider {
    background-color: #2196F3;
}

input:checked + .toggle__slider:before {
    transform: translateX(26px);
}

.t-h1 {
    font-size: clamp(2.25rem, 4vw + 1rem, 3rem);
}

.main {
    @apply w-full px-4 sm:px-6 font-jacques lg:px-32 text-white;
}

section {
    scroll-margin-top: 70px; /* Ajusta este valor según la altura de tu header */
}

.section {
    @apply w-full min-h-screen flex flex-col justify-center my-3 p-4 sm:px-6 text-white;
}

.section:nth-child(1) {
    @apply h-screen
}

.section__title {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl; /*Cambiado de text-5xl a text-4xl */
}

.icon {
    @apply w-9 sm:w-10 block
}

.button {
    @apply font-league bg-linear-red text-white rounded tracking-widest hover:-translate-y-2
    flex items-center justify-center transition-transform duration-300 text-base sm:text-lg;
}

.about-me__container {
    @apply flex flex-col gap-12 lg:flex-row lg:gap-32;
}

.about-me__stack {
    @apply flex flex-wrap justify-center gap-10 lg:gap-x-14 lg:gap-y-8;
}

.stack__tech {
    @apply max-w-[60px] w-full;
}

.separator {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: 2rem 0;
}

input {
    @apply text-black outline-none;
}

textarea {
    @apply placeholder-top-left text-black outline-none p-2;
}

/* input styles*/
.placeholder-top-left::placeholder {
    position: absolute;
    top: 0;
    left: 1;
    transform: translate(1.5px, 10px);
    /* placeholder color */
    color: #A8A8A8; 
    /* placeholder fontsize */
    font-size: 1rem; 
}

.form__input {
    @apply w-full rounded-2xl px-4 py-2 text-black text-base sm:text-lg md:text-xl lg:text-2xl;
}

/* Estilos para el placeholder del textarea */
.placeholder-text::placeholder {
    color: #A8A8A8; /* Color del placeholder */
    font-size: 1rem; /* Tamaño de la fuente del placeholder por defecto */
}

@media (min-width: 640px) {
    .placeholder-text::placeholder {
        font-size: 1.125rem; /* sm:text-lg */
    }
}

@media (min-width: 768px) {
    .placeholder-text::placeholder {
        font-size: 1.25rem; /* md:text-xl */
    }
}

@media (min-width: 1024px) {
    .placeholder-text::placeholder {
        font-size: 1.5rem; /* lg:text-2xl */
    }
}

/* Make sure the input has a relative position */
.placeholder-top-left {
    position: relative;
}

.text-black {
    color: black;
}